/* PROJECTS HTML */
.main-container-2 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/fondo/gokuU.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 15%;
  display: flex;
  justify-content: space-between;
}

nav {
  width: 100%;
  height: 90%;
  /* background-color: rgba(0, 0, 255, 0.31); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-container-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  font-size: 26px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* background-color: rgba(255, 255, 0, 0.262); */
}

.ul-container-2 li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 2px;
  text-decoration: none;
  list-style: none;
  text-align: center;
  justify-content: center;
  /* background-color: rgba(43, 164, 41, 0.452); */
}

.ul-container-2 li a {
  display: flex;
  height: 100%;
  /* background-color: rgba(255, 0, 0, 0.177); */
  width: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* padding: 40px; */
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  position: relative;
  font-size: 22px;
  right: 15px;
  top: 25px;
}

.ul-container-2 li a::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.287);
  border-bottom: 3px solid rgba(0, 0, 0, 0.287);
  border-top: 3px solid rgba(0, 0, 0, 0.287);
  border-left: 1px solid rgba(0, 0, 0, 0.287);
  border-right: 3px solid rgba(0, 0, 0, 0.287);
  transform: translateX(-840px);
}

.ul-container-2 li a:hover::before {
  animation: aBefore 0.4s forwards;
  /* background: rgb(0, 0, 0);
      opacity: 0.8; */
}

@keyframes aBefore {
  0% {
    transform: translateX(-840px);
  }
  100% {
    transform: translateX(0);
  }
}
.section-names-container-5 {
  clip-path: inset(0% 0% 0% 12%);
  background-color: rgba(0, 0, 0, 0.162);
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 30px;
}
// cards
:root {
  --gradient: linear-gradient(to left top, #dd2476 10%, #ff512f 90%) !important;
}

.row {
  display: flex;
  align-items: center;
}

.col-md-4 {
  position: relative;
  left: 95px;
  margin: 15px;
}
@media screen and (max-width: 850px) {
  .main-container-2 {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/fondo/gokuU.gif");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: space-between;
  }

  .section-names-container-5 {
    clip-path: inset(0% 0% 0% 12%);
    background-color: rgba(0, 0, 0, 0.162);
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 0px;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .col-md-4 {
    position: relative;
    left: 2px;
    margin: 19px;
  }
  .card {
    max-width: 180px;
    bottom: 150px;
  }
}
